.user-card{
    width: 130px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover{
        .user-img img{
            border: 2px solid white;
            transition: all ease 0.1s;
            cursor: pointer;
        }
    }
}
.user-img{
    width: 100%;
    height: 8rem;
}
.user-img img{
    border-radius: 6px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-name{
    color: white;
    margin-top: 8px;
}