.top-bar{
    width: 100vw;
    height: 80px;
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    left: 0;
    z-index: 10;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
    margin-right: 30px;
}
.menu{
    color: rgb(243, 239, 239);
    font-weight: 600;
    font-size: 17px;
    margin-left: 20px;
    cursor: pointer;
}
.c{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
}
.c-right{
    justify-content: flex-end;
    padding-right: 130px;
}
.search-btn i{
    font-size: 25px;
    cursor: pointer;
    color: white;
}
.search-input{
    height: 23px;
    width: 15rem;
    font-size: 16px;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 7px;
    border-radius: 6px;
}
.search-input::placeholder{
    color: rgb(150, 149, 149) !important;
}